@import "tailwindcss";
@import "tw-animate-css";

:root { 
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);

}
/*
:root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(224 71.4% 4.1%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(224 71.4% 4.1%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(224 71.4% 4.1%);

    --primary: hsl(262.1 83.3% 57.8%);
    --primary-foreground: hsl(210 20% 98%);

    --secondary: hsl(220 14.3% 95.9%);
    --secondary-foreground: hsl(220.9 39.3% 11%);

    --muted: hsl(220 14.3% 95.9%);
    --muted-foreground: hsl(220 8.9% 46.1%);

    --accent: hsl(220 14.3% 95.9%);
    --accent-foreground: hsl(220.9 39.3% 11%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 20% 98%);

    --border:hsl(220 13% 91%);
    --input:hsl(220 13% 91%);
    --ring:hsl(262.1 83.3% 57.8%);
    --radius: 0.5rem;
  }

  .dark {
    --background:hsl(224 71.4% 4.1%);
    --foreground:hsl(210 20% 98%);

    --card:hsl(224 71.4% 4.1%);
    --card-foreground:hsl(210 20% 98%);

    --popover:hsl(224 71.4% 4.1%);
    --popover-foreground:hsl(210 20% 98%);

    --primary:hsl(263.4 70% 50.4%);
    --primary-foreground:hsl(210 20% 98%);

    --secondary:hsl(215 27.9% 16.9%);
    --secondary-foreground:hsl(210 20% 98%);

    --muted:hsl(215 27.9% 16.9%);
    --muted-foreground:hsl(217.9 10.6% 64.9%);

    --accent:hsl(215 27.9% 16.9%);
    --accent-foreground:hsl(210 20% 98%);

    --destructive:hsl(0 62.8% 30.6%);
    --destructive-foreground:hsl(210 20% 98%);

    --border:hsl(215 27.9% 16.9%);
    --input:hsl(215 27.9% 16.9%);
    --ring:hsl(263.4 70% 50.4%);
  }
*/
  :root {
    --background: oklch(0.9699 0.0113 71.9);
    --foreground: oklch(0.4597 0.0629 289.56);

    --card: oklch(0.987 0.0107 76.6);
    --card-foreground: oklch(0.4597 0.0629 289.56);

    --popover: oklch(0.987 0.0107 76.6);
    --popover-foreground: oklch(0.4597 0.0629 289.56);

    --primary: oklch(0.6957 0.1058 23.03);
    --primary-foreground: oklch(0.4597 0.0629 289.56);

    --secondary: oklch(0.987 0.0107 76.6);
    --secondary-foreground: oklch(0.4597 0.0629 289.56);

    --muted: oklch(0.9389 0.0145 64.34);
    --muted-foreground: oklch(0.5768 0.0458 291);

    --accent: oklch(0.9389 0.0145 64.34);
    --accent-foreground: oklch(0.4597 0.0629 289.56);

    --destructive: oklch(0.5989 0.1071 2.66);
    --destructive-foreground: oklch(0.4597 0.0629 289.56);

    --success: oklch(0.6289 0.0661 210.12);
    --success-foreground: oklch(0.4597 0.0629 289.56);

    --info: oklch(0.6171 0.0738 305.7);
    --info-foreground: oklch(0.4597 0.0629 289.56);

    --warning: oklch(0.7555 0.1459 69.74);
    --warning-foreground: oklch(0.4597 0.0629 289.56);

    --border: oklch(0.892 0.0057 31.05);
    --input: oklch(0.892 0.0057 31.05);
    --ring: oklch(0.6957 0.1058 23.03);
    --shadow: oklch(0.2134 0.0255 291.13);

    --sidebar: oklch(0.987 0.0107 76.6);
    --sidebar-foreground: oklch(0.4597 0.0629 289.56);
    --sidebar-primary: oklch(0.6957 0.1058 23.03);
    --sidebar-primary-foreground: oklch(0.4597 0.0629 289.56);
    --sidebar-accent: oklch(0.9389 0.0145 64.34);
    --sidebar-accent-foreground: oklch(0.4597 0.0629 289.56);
    --sidebar-border: oklch(0.9389 0.0145 64.34);
    --sidebar-ring: oklch(0.892 0.0057 31.05);
  }

  .dark {
    --background: oklch(0.2134 0.0255 291.13);
    --foreground: oklch(0.9088 0.0299 289.97);

    --card: oklch(0.2413 0.0322 289.14);
    --card-foreground: oklch(0.9088 0.0299 289.97);

    --popover: oklch(0.2413 0.0322 289.14);
    --popover-foreground: oklch(0.9088 0.0299 289.97);

    --primary: oklch(0.8363 0.0544 21.14);
    --primary-foreground: oklch(0.4399 0.0392 290.42);

    --secondary: oklch(0.2413 0.0322 289.14);
    --secondary-foreground: oklch(0.9088 0.0299 289.97);

    --muted: oklch(0.2708 0.0423 289.23);
    --muted-foreground: oklch(0.6539 0.0444 291.23);

    --accent: oklch(0.2708 0.0423 289.23);
    --accent-foreground: oklch(0.9088 0.0299 289.97);

    --destructive: oklch(0.6977 0.1565 4.22);
    --destructive-foreground: oklch(0.4399 0.0392 290.42);

    --success: oklch(0.8219 0.0543 209.56);
    --success-foreground: oklch(0.4399 0.0392 290.42);

    --info: oklch(0.776 0.0945 304.99);
    --info-foreground: oklch(0.4399 0.0392 290.42);

    --warning: oklch(0.8429 0.11 74.6);
    --warning-foreground: oklch(0.4399 0.0392 290.42);

    --border: oklch(0.3717 0.0358 291.1);
    --input: oklch(0.3717 0.0358 291.1);
    --ring: oklch(0.8363 0.0544 21.14);
    --shadow: oklch(0.2134 0.0255 291.13);

    --sidebar: oklch(0.2413 0.0322 289.14);
    --sidebar-foreground: oklch(0.9088 0.0299 289.97);
    --sidebar-primary: oklch(0.8363 0.0544 21.14);
    --sidebar-primary-foreground: oklch(0.9088 0.0299 289.97);
    --sidebar-accent: oklch(0.2708 0.0423 289.23);
    --sidebar-accent-foreground: oklch(0.9088 0.0299 289.97);
    --sidebar-border: oklch(0.2708 0.0423 289.23);
    --sidebar-ring: oklch(0.3717 0.0358 291.1);
  }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-shadow: var(--shadow);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-down {
  from {
    height: 0;
    }
  to {
    height: var(--reka-accordion-content-height);
    }
  }
  @keyframes accordion-up {
  from {
    height: var(--reka-accordion-content-height);
    }
  to {
    height: 0;
    }
  }
}

@theme {
  --font-sans: 'Noto Sans', sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
